<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <android.support.design.widget.AppBarLayout
        android:layout_height="wrap_content"
        android:layout_width="match_parent"
        android:id="@+id/toolbar_layout">
        <include
            android:id="@+id/toolbar"
            layout="@layout/toolbar"
            local:layout_scrollFlags="scroll|enterAlways" />
    </android.support.design.widget.AppBarLayout>
    <FrameLayout
        android:id="@+id/content_frame"
        android:layout_below="@id/toolbar_layout"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:paddingTop="@dimen/activity_horizontal_margin"
        android:paddingLeft="@dimen/activity_horizontal_margin"
        android:paddingRight="@dimen/activity_horizontal_margin">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="match_parent"
            android:layout_height="match_parent">
            <android.support.design.widget.TextInputLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content">
                <EditText
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:textSize="15dp"
                    android:hint="@string/NumberToCalculate"
                    local:MvxBind="Text Number" />
            </android.support.design.widget.TextInputLayout>
            <android.support.v7.widget.CardView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="5dp"
                android:layout_marginBottom="5dp"
                android:layout_gravity="center_horizontal"
                local:cardElevation="2dp"
                local:cardCornerRadius="1dp">
                <LinearLayout
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:orientation="horizontal"
                    android:padding="8dp">
                    <TextView
                        android:layout_width="0dp"
                        android:layout_weight="1"
                        android:layout_height="wrap_content"
                        android:text="@string/lbl_sqrt"
                        android:textSize="15dp"
                        android:textStyle="bold" />
                    <LinearLayout
                        android:layout_width="0dp"
                        android:layout_weight="3"
                        android:layout_height="wrap_content"
                        android:orientation="horizontal"
                        android:gravity="center_vertical"
                        local:MvxBind="Visibility Visibility(IsBusy)">
                        <ProgressBar
                            android:id="@+id/progressBar1"
                            style="?android:attr/progressBarStyleSmall"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:layout_centerHorizontal="true"
                            android:layout_centerVertical="true"
                            android:layout_centerInParent="true"
                            android:indeterminate="true" />
                        <TextView
                            android:layout_width="match_parent"
                            android:layout_height="wrap_content"
                            android:textSize="15dp"
                            android:layout_marginLeft="5dp"
                            android:text="@string/lbl_sto_calcolando" />
                    </LinearLayout>
                    <TextView
                        android:layout_width="0dp"
                        android:layout_weight="3"
                        android:layout_height="wrap_content"
                        android:textSize="15dp"
                        local:MvxBind="Text Result; Visibility InvertedVisibility(IsBusy)" />
                </LinearLayout>
            </android.support.v7.widget.CardView>
            <android.support.v7.widget.CardView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="5dp"
                android:layout_marginBottom="5dp"
                android:layout_gravity="center_horizontal"
                local:cardElevation="2dp"
                local:cardCornerRadius="1dp">
                <LinearLayout
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:orientation="horizontal"
                    android:padding="8dp">
                    <TextView
                        android:layout_width="0dp"
                        android:layout_weight="1"
                        android:layout_height="wrap_content"
                        android:text="@string/lbl_pow"
                        android:textStyle="bold"
                        android:textSize="15dp" />
                    <LinearLayout
                        android:layout_width="0dp"
                        android:layout_weight="3"
                        android:layout_height="wrap_content"
                        android:orientation="horizontal"
                        android:gravity="center_vertical"
                        local:MvxBind="Visibility Visibility(IsBusyPow)">
                        <ProgressBar
                            android:id="@+id/progressBar1"
                            style="?android:attr/progressBarStyleSmall"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:layout_centerHorizontal="true"
                            android:layout_centerVertical="true"
                            android:layout_centerInParent="true"
                            android:indeterminate="true" />
                        <TextView
                            android:layout_width="match_parent"
                            android:layout_height="wrap_content"
                            android:textSize="15dp"
                            android:layout_marginLeft="5dp"
                            android:text="@string/lbl_sto_calcolando" />
                    </LinearLayout>
                    <TextView
                        android:layout_width="0dp"
                        android:layout_weight="3"
                        android:layout_height="wrap_content"
                        android:textSize="15dp"
                        local:MvxBind="Text ResultPow; Visibility InvertedVisibility(IsBusyPow)" />
                </LinearLayout>
            </android.support.v7.widget.CardView>
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content">
                <Button
                    style="@style/Widget.AppCompat.Button.Borderless"
                    android:layout_width="0dp"
                    android:layout_weight="1"
                    android:layout_height="36dp"
                    android:text="@string/lbl_btn_calcola"
                    android:textSize="15dp"
                    android:paddingLeft="@dimen/components_8dp_space"
                    android:paddingRight="@dimen/components_8dp_space"
                    android:background="@color/primary"
                    android:textColor="@android:color/white"
                    android:layout_margin="@dimen/components_8dp_space"
                    local:MvxBind="Click SqrtCommand" />
                <Button
                    style="@style/Widget.AppCompat.Button.Borderless"
                    android:layout_width="0dp"
                    android:layout_weight="1"
                    android:layout_height="36dp"
                    android:text="@string/lbl_btn_calcolaAsync"
                    android:textSize="15dp"
                    android:paddingLeft="@dimen/components_8dp_space"
                    android:paddingRight="@dimen/components_8dp_space"
                    android:background="@color/primaryDark"
                    android:textColor="@android:color/white"
                    android:layout_margin="@dimen/components_8dp_space"
                    local:MvxBind="Click SqrtAsyncCommand" />
            </LinearLayout>
            <Button
                style="@style/Widget.AppCompat.Button.Borderless"
                android:layout_width="match_parent"
                android:layout_height="36dp"
                android:textSize="15dp"
                android:paddingLeft="@dimen/components_8dp_space"
                android:paddingRight="@dimen/components_8dp_space"
                android:background="@color/accent"
                android:textColor="@android:color/white"
                android:text="Calcola Pow Async WS"
                android:layout_margin="@dimen/components_8dp_space"
                local:MvxBind="Click PowAsyncCommand" />
        </LinearLayout>
    </FrameLayout>
</RelativeLayout>